<!DOCTYPE html>
<html>
<head>
    <title>{{ site_title }}</title>
</head>
<body style="text-align:center; font-family:Arial;">
    <h1>{{ welcome_message }}</h1>
    <p>Deployed by Jenkins + Ansible 🚀</p>
    <p>Server: {{ ansible_hostname }}</p>
</body>
</html>
